.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer {
  background-color: #998a7e;
  color: #fff;
  padding: 3rem;
  padding-bottom: 3rem;

  bottom: 0;
  height: 100%;
}

.custom-navbar {
  height: 70px;
  padding: 1rem;
}

.navbar-logo {
  height: 50px; 
  width: auto;
}

        .card {
            border-radius: 10px;
        }
        .card-body {
            padding: 2rem;
        }
        .card-title {
            margin-bottom: 1.5rem;
        }
        .btn-primary {
            background-color: #1d0f03;
            border-color: #ff6f61;
        }
        .btn-primary:hover {
            background-color: #e85c50;
            border-color: #e85c50;
        }

.blog-header {
    background-color: #f8f9fa;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.featured-post {
      background-color: #f8f9fa;
      padding: 40px;
      border-radius: 10px;
    }

    .featured-post img {
      max-width: 100%;
      border-radius: 10px;
    }

    .card {
      border: none;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-weight: bold;
    }

    .blog-header {
      text-align: center;
      margin-bottom: 40px;
    }

    .blog-header h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    .blog-header p {
      font-size: 1.25rem;
      color: #6c757d;
    }
